.container
{margin: 200px;
    position: relative;
    font-family: monospace;
    color: rgb(0, 0, 0);
    font-size: 200px;
    filter: contrast(15);
}
.word
{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: switch 8s infinite ease-in-out;
    min-width: 10%;
    margin: auto;
}
.word:nth-child(1)
{
    animation-delay: -14s;
}
.word:nth-child(2)
{
    animation-delay: -12s;
}

.word:nth-child(3)
{
    animation-delay: -10s;
}

@keyframes switch
{
    0%,
    5%,
    100%
    {
        filter:blur(0px);
        opacity:1;
    }
    50%,
    80%
    {
        filter:blur(180px);
        opacity:0;
    }


}